<%- include('./partials/header') %>

<h2 id="login-header">Welcome to Patient Documentation </h2>

    <div id="login">
        
        <% if (user) { %>
            <h4>Please click the button below to logout</h4>
            <div>
                <a class="nav-link-login" href="/logout"><button class="btn btn-secondary" type="button">Log Out</button><a>
                <% } else { %>
                    <h4>Please Login Below</h4>  
                     <a class="nav-link-login" href="/auth/google"><button class="btn btn-secondary" type="button">Log In With Google</button></a>
                        <% } %>
                    </button>
                </div>
    </div>

<%- include('./partials/footer') %>