<%- include("../partials/header") %>
<h1>Patient Index Page</h1>
<ul> 
    <% patients.forEach(function(patient) { %>
        <%= patient.name %>
   <%  }) %>
</ul>
<%- include("../partials/footer") %>