<%- include("../partials/header") %>
<h1 id="new-patient-show">New Patient Page</h1>
<form id="new-patient" action="/patients" method="POST" autocomplete="off">
   <label>First Name: </label>
    <input type="text" name="firstName">
    <label>Last Name:</label>
    <input type="text" name="lastName">
    <label>Phone Number</label>
    <input type="number" name="phone">
    <button type="submit" class="btn btn-secondary">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset Form</button>
</form>
<%- include("../partials/footer") %>