body {
    background-color: #E7EBE0FF
}

#login-header {
    text-align: center;
}

#login {
    text-align: center;
}

.navbar-brand {
    background-color: #ABD6DFFF;
}

.collapse {
    background-color: #7DB46CFF;
}

.nav-link-login {
    /* color: #ABD6DFFF; */
}

.nav-link {
    color: #E7EBE0FF;
}

#patient-list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#my-patients {
    text-align: center;
}

thead {
    padding: 10%;
}

#p-header {
    text-align: center;
    width: 20%;
}

#p-name {
    margin-right: 30%;
}

#patient-show {
    text-align: center;
}

#new-patient {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#new-patient-show {
    text-align: center;
}

#new-patient-details {
    display: flex;
    flex-direction: column;
}

#new-patient-btns {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
}

#add-patient-btn {
    align-items: center;
}

#patients-list-header {
    margin-bottom: 10%;
    border-bottom: 1px solid gray;
}

#patients-list-row {
    border-bottom: 1px solid gray;
}

.btn {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .8)
}